.div-todolist {
  table {
    table-layout: fixed;
    width: 100%;
  }

  tr {
    height: 36px;
  }

  .table-type {
    width: 35px;
  }

  .table-date {
    width: 160px;
  }

  .table-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table-finish {
    width: 35px;
  }

  a {
    text-decoration: none;
  }
}